<div class='welcome'>
  <h1>Celebrity Wiki</h1>
  <p>Welcome! Let's learn some celeb stuff</p>
  {{!-- <a href="/celebrity">View Celebrities</a> --}}
  {{!-- <div>
    <a class='signup-home' href="/user/signup">Sign up</a>
    <a class='home-login' href="/user/login">Login</a>
  </div> --}}
</div>