<div class='welcome'>
  <h1>Celebrity Wiki</h1>
  <p>Welcome! Let's learn some celeb stuff</p>
  {{!-- <a href="/celebrity">View Celebrities</a> --}}
  <div>
    <a href="/logout">Logout</a>
  </div>
</div>



{{!-- home page has sign up and login
sends you to login page or sign up page
once youre login'd in you can see the website content
once logged in, home page becomes log out button.
if you log out it redirects you to home page with log in/signup  --}}