<h2>create new account</h2>

<form action="" method="POST">

<div>
    <label for="">Username</label>
    <input type="text" name='theUsername'>
</div>

<div>
     <label for="">Password</label>
    <input type="text" name='thePassword'>
</div>

<div>
    <label>Role</label>
    <input type="checkbox" name='role' value='true'>
</div>

{{!-- <input type="hidden" name='origin' value='admin'> --}}

</form>