<div class='welcome'>
  <h1>Celebrity Wiki</h1>
  <p>Welcome! Let's learn some celeb stuff</p>
</div>

<form action="/user/login" method="POST" id="signup-form">
  <h2>Sign Up</h2>

  <label for="username">Username</label>
  <input type="text" name="theUsername">

  <label for="password">Password</label>
  <input type="password" name="thePassword">

  {{!-- {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}} --}}

  {{!-- <input type="hidden" name='origin' value='regular'> --}}


  <button type='submit'>Sign Up</button>

  <p class="account-message">
    Already have an account? <a href="/user/login">Login</a>
  </p>
</form>


